<!-- Header -->
<%- include('./partials/header') %>

<!-- Login -->
    <section id="login">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <!-- Info column -->
                <div class="col-5 my-5 text-center text-md-start p-5 d-none d-lg-block">
                    <h1>Login</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias labore quam possimus consequatur eos? Amet, fuga! Perspiciatis molestiae voluptatibus commodi?</p>
                </div>
                <!-- Input column -->
                <div class="my-5 text-md-start p-5 col-lg-5">
                    <form action="" method="post">
                        <!-- Username -->
                        <div>
                            <span>Username</span>
                            <input type="text" required name="username" class="form-control my-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <!-- Password input -->
                        <div class="my-2">
                            <span >Password</span>
                            <input type="password" required name="password" class="form-control my-2" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary" type="submit" value="Log in">
                        </div>
                        <!-- Create account? -->
                        <div class="text-center my-2">
                            <a href="/register">Create account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<!-- Footer -->
<%- include('./partials/footer') %>