<!-- Header -->
<%- include("./partials/header") %> 

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>

<!-- Overview -->
<section id="overview">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 ">
               <h1 class="display-5 fw-bold lh-1 mb-3">Math</h1>
               <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam quia quis voluptas, laborum sint excepturi consequuntur similique iste minima quo totam! Fugit deleniti voluptate porro a labore consequuntur nesciunt explicabo!</p>
            </div>
        </div>
    </div>
</section>

<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <!-- Info -->
            <div class="col-xl my-5 text-start">
                <h2>Algerbra</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consectetur similique itaque facere ipsum possimus optio dignissimos voluptatibus. Repudiandae quos voluptatibus dolore sed velit porro eaque quisquam cumque ipsa cupiditate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consectetur similique itaque facere ipsum possimus optio dignissimos voluptatibus. Repudiandae quos voluptatibus dolore sed velit porro eaque quisquam cumque ipsa cupiditate!</p>
            </div>
            <!-- Visual -->
            <div class="my-5 text-md-start p-5 col-lg-5 d-none d-xl-block">
                <img class="img-fluid" src="/imgs/algebra.jpeg" alt="">
            </div>
        </div>

        <div class="row g-0 justify-content-center">
            <!-- Info -->
            <div class="col-xl my-2 text-start">
                <h2>Graphing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consectetur similique itaque facere ipsum possimus optio dignissimos voluptatibus. Repudiandae quos voluptatibus dolore sed velit porro eaque quisquam cumque ipsa cupiditate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consectetur similique itaque facere ipsum possimus optio dignissimos voluptatibus. Repudiandae quos voluptatibus dolore sed velit porro eaque quisquam cumque ipsa cupiditate!</p>
            </div>
            <!-- Visual -->
            <div class="my-2 text-md-start p-5 col-lg-5 d-none d-xl-block">
                <img class="img-fluid" src="/imgs/algebra.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Test -->
<section id="test">
    <div class="container">
        <div class="row my-5">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Test</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, odit!</p>
                  <a href="#" class="btn btn-primary">Begin test</a>
                </div>
              </div>
        </div>
    </div>
</section>


<!-- Footer -->
<%- include("./partials/footer") %> 