<!-- Header -->
<%- include("./partials/header") %>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../bootstrap/js/bootstrap.min.js"></script>

<section id="profileOverview">
    <div class="container">
        <div class="row">
          <h1 class="my-5">Welcome back, <%= currentUsername %> </h1>
        </div>
    </div>
</section>

<!-- Overview -->
<section id="profileOverview">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <h4>My stuff</h4>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn align-items-center rounded" onclick="window.location.href='/dashboard'">
                Courses
              </button>
            </li>
            <li class="mb-1">
              <button class="btn align-items-center rounded" onclick="window.location.href='/dashboard/tutors'">
                Online tutors
              </button>
            </li>
            <li class="mb-1">
              <button class="btn align-items-center rounded" onclick="window.location.href='/chats'">
                Chats
              </button>
            </li>
      
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New...</a></li>
                  <li><a href="#" class="link-dark rounded">Profile</a></li>
                  <li><a href="#" class="link-dark rounded">Settings</a></li>
                  <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="col-xl-3 col-8">
        <h2>My tutors</h2>
        <div class="card">
          <div class="card-body m-2">
            <h5 class="card-title">Micheal Lawrence</h5>
            <p class="card-text">Math Teacher</p>
            <a href="/courses/math" class="btn btn-primary d-none d-xl-block">Chat</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 d-none d-xl-block">
        <h2>Chat with, ...</h2>
        <!-- Message display -->
        <div class="border" style="height:20em;">
          <div class="bg-light">
            hello
          </div>
          <div>
            hi
          </div>
          <div class="bg-light">
            hello
          </div>
        </div>
        <!-- Message input -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Message" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
        </div>
      </div>
      
    </div>
  </div>
</section>




